.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-container{
    display: flex;
}

button{
    background-color: #3C8067;
}

button:hover{
    background-color: rgb(60, 128, 103);
}

footer{
    position: absolute;
    bottom: 0;
}